/*GENERAL*/
html, body{
}

html{
	min-height: 100%;
	position: relative;
}

body{
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 16px;
	margin-bottom: 60px;
	height: 100%;
	background: linear-gradient(135deg, #e9eff4 0%,#ffffff 100%);
}

p{
	font-size: 16px;
}

.height100{
	height: 100%;
}

.height80{
	height: 80%;
}

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.navbar-brand small{
	color: #E88895;
}

.clickable{
	cursor: pointer;
}

.character-wrap{
	word-wrap:break-word;
}

.disabled-fade{
	opacity: 0.7;
}

.semi-bold{
	font-weight: 600;
}

.bold{
	font-weight: 700;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
}

body > .container:last-of-type{
	margin-bottom: 100px;
}


/*TABLE LAYOUT*/
.table-parent{
	display: table;
	width: 100%;
}

.table-cell{
	display: table-cell;
	vertical-align: top;
}

.table-cell.table-cell-vcenter{
	vertical-align: middle;
}


/*BOOTSTRAP*/
.header-margin{
	margin-bottom: 24px;
}

.dropdown-menu>li.no-a-tag{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.tool-tip-btn .btn-link{
	text-decoration: none;
	color: #303D44;
}

.hakushi .navbar-default{
	background: transparent;
}

.card > .table{
	margin-bottom: 0px;
}


/*NAVBAR*/
.btn-default.link-dropdown{
	color: #777;
    background-color: transparent;
    border-color: transparent;
}

.dropdown-menu button.btn-link{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}


/*SETTINGS*/
.profile-image{
	font-size: 124px;
	color: #d4d4d4;
}


/*------------------ ORIGINAL STYLES ------------------*/
#side-nav{
	position: fixed;
	top: 0px;
	left:0px;
	width: 72px;
	background: #ffffff;
	height: 100vh;
}

.menu-buffer{
	width: 100%;
	height: 100%;
}

.bg-1{
	background: #E88895;
}
.bg-2{
	background: #79CBC4;
}
.bg-3{
	background: #30B582;
}




/*media queries*/
@media(max-width:576px){

}
@media(max-width:767px){
	#side-nav{
		display: none;
	}

	body.modal-open{
		position:fixed;
	}

	select, textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"]{
		font-size: 16px;
	}
}
@media(min-width:768px){
	.menu-buffer{
		padding: 0px 96px;
	}

}
@media(min-width:992px){
}
@media(min-width:1200px){
}

/*special queries*/
